/* 
 * Phone.com API
 *
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package swagger

import (
	"net/url"
	"encoding/json"
	"fmt"
	"strings"
)

type CalllogsApi struct {
	Configuration Configuration
}

func NewCalllogsApi() *CalllogsApi {
	configuration := NewConfiguration()
	return &CalllogsApi{
		Configuration: *configuration,
	}
}

func NewCalllogsApiWithBasePath(basePath string) *CalllogsApi {
	configuration := NewConfiguration()
	configuration.BasePath = basePath

	return &CalllogsApi{
		Configuration: *configuration,
	}
}

/**
 * Show details of an individual Call Log entry
 * This service shows the details of an individual Call Logs entry.
 *
 * @param accountId Account ID
 * @param callLogId Call Log ID
 * @return *CallLogFull
 */
func (a CalllogsApi) GetAccountCallLog(accountId int32, callLogId int32) (*CallLogFull, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/call-logs/{callLog_id}"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"callLog_id"+"}", fmt.Sprintf("%v", callLogId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(CallLogFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Get a list of call details associated with your account
 * Fetch a list of call logs associated with your account.
 *
 * @param accountId Account ID
 * @param filtersId ID filter
 * @param filtersStartTime Call start time filter
 * @param filtersCreatedAt Call log creation time filter
 * @param filtersDirection Call direction filter: in or out
 * @param filtersCalledNumber Called number
 * @param filtersType Call type, such as &#39;call&#39;, &#39;fax&#39;, &#39;audiogram&#39;
 * @param filtersExtension Extension filter
 * @param sortId ID sorting
 * @param sortStartTime Sorting by call start time: asc or desc
 * @param sortCreatedAt Sorting by call log creation time: asc or desc
 * @param limit Max results
 * @param offset Results to skip
 * @param fields Field set
 * @return *ListCallLogsFull
 */
func (a CalllogsApi) ListAccountCallLogs(accountId int32, filtersId []string, filtersStartTime []string, filtersCreatedAt string, filtersDirection string, filtersCalledNumber string, filtersType string, filtersExtension []string, sortId string, sortStartTime string, sortCreatedAt string, limit int32, offset int32, fields string) (*ListCallLogsFull, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/call-logs"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
	var collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersId {
			queryParams.Add("filters[id]", value)
		}
	} else {
		queryParams.Add("filters[id]", a.Configuration.APIClient.ParameterToString(filtersId, collectionFormat))
	}
		 collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersStartTime {
			queryParams.Add("filters[start_time]", value)
		}
	} else {
		queryParams.Add("filters[start_time]", a.Configuration.APIClient.ParameterToString(filtersStartTime, collectionFormat))
	}
			queryParams.Add("filters[created_at]", a.Configuration.APIClient.ParameterToString(filtersCreatedAt, ""))
			queryParams.Add("filters[direction]", a.Configuration.APIClient.ParameterToString(filtersDirection, ""))
			queryParams.Add("filters[called_number]", a.Configuration.APIClient.ParameterToString(filtersCalledNumber, ""))
			queryParams.Add("filters[type]", a.Configuration.APIClient.ParameterToString(filtersType, ""))
		 collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersExtension {
			queryParams.Add("filters[extension]", value)
		}
	} else {
		queryParams.Add("filters[extension]", a.Configuration.APIClient.ParameterToString(filtersExtension, collectionFormat))
	}
			queryParams.Add("sort[id]", a.Configuration.APIClient.ParameterToString(sortId, ""))
			queryParams.Add("sort[start_time]", a.Configuration.APIClient.ParameterToString(sortStartTime, ""))
			queryParams.Add("sort[created_at]", a.Configuration.APIClient.ParameterToString(sortCreatedAt, ""))
			queryParams.Add("limit", a.Configuration.APIClient.ParameterToString(limit, ""))
			queryParams.Add("offset", a.Configuration.APIClient.ParameterToString(offset, ""))
			queryParams.Add("fields", a.Configuration.APIClient.ParameterToString(fields, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(ListCallLogsFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

