/* 
 * Phone.com API
 *
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package swagger

import (
	"net/url"
	"encoding/json"
	"fmt"
	"strings"
)

type ContactsApi struct {
	Configuration Configuration
}

func NewContactsApi() *ContactsApi {
	configuration := NewConfiguration()
	return &ContactsApi{
		Configuration: *configuration,
	}
}

func NewContactsApiWithBasePath(basePath string) *ContactsApi {
	configuration := NewConfiguration()
	configuration.BasePath = basePath

	return &ContactsApi{
		Configuration: *configuration,
	}
}

/**
 * Add a new address book contact for an extension
 * For more on the input fields, see Account Contacts.
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @param data Contact data
 * @return *ContactFull
 */
func (a ContactsApi) CreateAccountExtensionContact(accountId int32, extensionId int32, data CreateContactParams) (*ContactFull, *APIResponse, error) {

	var httpMethod = "Post"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}/contacts"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &data

	var successPayload = new(ContactFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 * 
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @param contactId Contact ID
 * @return *DeleteContact
 */
func (a ContactsApi) DeleteAccountExtensionContact(accountId int32, extensionId int32, contactId int32) (*DeleteContact, *APIResponse, error) {

	var httpMethod = "Delete"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}/contacts/{contact_id}"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)
	path = strings.Replace(path, "{"+"contact_id"+"}", fmt.Sprintf("%v", contactId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(DeleteContact)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Retrieve the details of an address book contact
 * For more info on the fields shown, see Account Contacts.
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @param contactId Contact ID
 * @return *ContactFull
 */
func (a ContactsApi) GetAccountExtensionContact(accountId int32, extensionId int32, contactId int32) (*ContactFull, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}/contacts/{contact_id}"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)
	path = strings.Replace(path, "{"+"contact_id"+"}", fmt.Sprintf("%v", contactId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(ContactFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Show a list of address book contacts
 * See Account Contacts for more info on the fields in each item.
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @param filtersId ID filter
 * @param filtersGroupId Group filter
 * @param filtersUpdatedAt Updated At filter
 * @param sortId ID sorting
 * @param sortUpdatedAt Updated At sorting
 * @param limit Max results
 * @param offset Results to skip
 * @param fields Field set
 * @return *ListContactsFull
 */
func (a ContactsApi) ListAccountExtensionContacts(accountId int32, extensionId int32, filtersId []string, filtersGroupId []string, filtersUpdatedAt []string, sortId string, sortUpdatedAt string, limit int32, offset int32, fields string) (*ListContactsFull, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}/contacts"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
	var collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersId {
			queryParams.Add("filters[id]", value)
		}
	} else {
		queryParams.Add("filters[id]", a.Configuration.APIClient.ParameterToString(filtersId, collectionFormat))
	}
		collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersGroupId {
			queryParams.Add("filters[group_id]", value)
		}
	} else {
		queryParams.Add("filters[group_id]", a.Configuration.APIClient.ParameterToString(filtersGroupId, collectionFormat))
	}
		collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersUpdatedAt {
			queryParams.Add("filters[updated_at]", value)
		}
	} else {
		queryParams.Add("filters[updated_at]", a.Configuration.APIClient.ParameterToString(filtersUpdatedAt, collectionFormat))
	}
			queryParams.Add("sort[id]", a.Configuration.APIClient.ParameterToString(sortId, ""))
			queryParams.Add("sort[updated_at]", a.Configuration.APIClient.ParameterToString(sortUpdatedAt, ""))
			queryParams.Add("limit", a.Configuration.APIClient.ParameterToString(limit, ""))
			queryParams.Add("offset", a.Configuration.APIClient.ParameterToString(offset, ""))
			queryParams.Add("fields", a.Configuration.APIClient.ParameterToString(fields, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(ListContactsFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 * For more on the input fields, see Account Contacts.
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @param data Contact data
 * @return *ContactFull
 */
func (a ContactsApi) ReplaceAccountExtensionContact(accountId int32, extensionId int32, data CreateContactParams) (*ContactFull, *APIResponse, error) {

	var httpMethod = "Put"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}/contacts"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &data

	var successPayload = new(ContactFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

