/* 
 * Phone.com API
 *
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package swagger

import (
	"net/url"
	"encoding/json"
	"fmt"
	"strings"
)

type ExtensionsApi struct {
	Configuration Configuration
}

func NewExtensionsApi() *ExtensionsApi {
	configuration := NewConfiguration()
	return &ExtensionsApi{
		Configuration: *configuration,
	}
}

func NewExtensionsApiWithBasePath(basePath string) *ExtensionsApi {
	configuration := NewConfiguration()
	configuration.BasePath = basePath

	return &ExtensionsApi{
		Configuration: *configuration,
	}
}

/**
 * Create an individual extension
 * This service shows how to create a virtual extension.
 *
 * @param accountId Account ID
 * @param data Account Extensions Data
 * @return *ExtensionFull
 */
func (a ExtensionsApi) CreateAccountExtension(accountId int32, data CreateExtensionParams) (*ExtensionFull, *APIResponse, error) {

	var httpMethod = "Post"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &data

	var successPayload = new(ExtensionFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Show details of an individual extension
 * This service shows the details of an individual Extension.
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @return *ExtensionFull
 */
func (a ExtensionsApi) GetAccountExtension(accountId int32, extensionId int32) (*ExtensionFull, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(ExtensionFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Get a list of extensions visible to the authenticated user or client
 * This service lists the visible extensions on a given account.
 *
 * @param accountId Account ID
 * @param filtersId ID filter
 * @param filtersExtension Extension filter
 * @param filtersName Name filter
 * @param sortId ID sorting
 * @param sortExtension Extension sorting
 * @param sortName Name sorting
 * @param limit Max results
 * @param offset Results to skip
 * @param fields Field set
 * @return *ListExtensionsFull
 */
func (a ExtensionsApi) ListAccountExtensions(accountId int32, filtersId []string, filtersExtension []string, filtersName []string, sortId string, sortExtension string, sortName string, limit int32, offset int32, fields string) (*ListExtensionsFull, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
	var collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersId {
			queryParams.Add("filters[id]", value)
		}
	} else {
		queryParams.Add("filters[id]", a.Configuration.APIClient.ParameterToString(filtersId, collectionFormat))
	}
		collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersExtension {
			queryParams.Add("filters[extension]", value)
		}
	} else {
		queryParams.Add("filters[extension]", a.Configuration.APIClient.ParameterToString(filtersExtension, collectionFormat))
	}
		collectionFormat = "multi"
	if collectionFormat == "multi" {
		for _, value := range filtersName {
			queryParams.Add("filters[name]", value)
		}
	} else {
		queryParams.Add("filters[name]", a.Configuration.APIClient.ParameterToString(filtersName, collectionFormat))
	}
			queryParams.Add("sort[id]", a.Configuration.APIClient.ParameterToString(sortId, ""))
			queryParams.Add("sort[extension]", a.Configuration.APIClient.ParameterToString(sortExtension, ""))
			queryParams.Add("sort[name]", a.Configuration.APIClient.ParameterToString(sortName, ""))
			queryParams.Add("limit", a.Configuration.APIClient.ParameterToString(limit, ""))
			queryParams.Add("offset", a.Configuration.APIClient.ParameterToString(offset, ""))
			queryParams.Add("fields", a.Configuration.APIClient.ParameterToString(fields, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(ListExtensionsFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Replace an individual extension
 * This service shows how to update an individual extension.
 *
 * @param accountId Account ID
 * @param extensionId Extension ID
 * @param data Account Extensions Data
 * @return *ExtensionFull
 */
func (a ExtensionsApi) ReplaceAccountExtension(accountId int32, extensionId int32, data ReplaceExtensionParams) (*ExtensionFull, *APIResponse, error) {

	var httpMethod = "Put"
	// create path and map variables
	path := a.Configuration.BasePath + "/accounts/{account_id}/extensions/{extension_id}"
	path = strings.Replace(path, "{"+"account_id"+"}", fmt.Sprintf("%v", accountId), -1)
	path = strings.Replace(path, "{"+"extension_id"+"}", fmt.Sprintf("%v", extensionId), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication '(apiKey)' required
	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &data

	var successPayload = new(ExtensionFull)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

