---
swagger: "2.0"
info:
  description: "This is a Phone.com api Swagger definition"
  version: "1.0.0"
  title: "Phone.com API"
  contact:
    email: "apisupport@phone.com"
host: "api.phone.com"
basePath: "/v4"
tags:
- name: "accounts"
  description: "This page gives an overview of how to interact with your accounts."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/accounts"
- name: "applications"
  description: "Applications are references to your own software integrations that\
    \ are registered to interact with your Phone.com account."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-applications"
- name: "call-logs"
  description: "The Call Logs API returns a list of call detail records for the account.\
    \ The result includes the id, start time, creation time, caller ID, called number,\
    \ direction of call, and duration in seconds. If applicable, the result may also\
    \ include final action, final action duration, listen URL, and/or transcription.\
    \ Since the call logs usually contains many calls, API users may use filters such\
    \ as start_time, created_at and direction to limit the result set to calls interested.\
    \ Users may also use the sorting parameters such as start_time and created_at\
    \ to list result in ascending or descending order."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-call-logs"
- name: "devices"
  description: "Your Phone.com account may have one or more physical handsets or other\
    \ VoIP devices associated with it."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-devices"
- name: "express-service-codes"
  description: "An Express Service Code is required when a customer calls Phone.com\
    \ for support. With the following services, customer may retrieve the Express\
    \ Service Code associated with his/her account."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-express-srv-codes"
- name: "extensions"
  description: "Your Phone.com account will have one or more extensions."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-extensions"
- name: "caller-ids"
  description: "Show the Caller ID options a given extension can use"
  externalDocs:
    description: "Find out more"
    url: "Outgoing calls can have a Caller ID setting. This page gives an overview."
- name: "contacts"
  description: "Each extension at Phone.com can have its own address book with any\
    \ number of contacts. This page gives an overview."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-extension-contacts"
- name: "groups"
  description: "The entries in an extension's address book can be divided into any\
    \ number of groups. This page gives an overview."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-extension-contact-groups"
- name: "media"
  description: "Hold Music can be used in routes, queues, and anywhere the caller\
    \ might be placed on hold. Your account has access to a set of standard hold music\
    \ options, and optionally another set of premium hold music options. You can also\
    \ upload your own hold music, subject to copyright limitations."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/list-account-media"
- name: "menus"
  description: "We've all been on the consuming side of a phone menu before. You call\
    \ a company and hear, \"Press '1' for Sales. Press '2' for Support. Press '0'\
    \ for the operator.\" With Phone.com you can create your own menus!"
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-menus"
- name: "phone-numbers"
  description: "Your Phone.com account has one or more phone numbers registered to\
    \ it."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-phone-numbers"
- name: "queues"
  description: "Queues are used when you want to direct calls to a pool of phone numbers\
    \ and/or extensions. A common utilization of queues is for Customer Service call\
    \ centers. When a queue is configured on your phone number, Phone.com will route\
    \ incoming calls to members of the queue. If a queue member is already on another\
    \ call, our service rings the next phone number or extension in the queue. While\
    \ your callers are waiting to be connected, you can choose to play Hold Music."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-queues"
- name: "routes"
  description: "Routes, a.k.a. \"Call Handling Rules\" or \"Presets\", are used to\
    \ tell Phone.com how to handle incoming phone calls. They can be used to connect\
    \ your Phone.com phone number to an extension, a menu, a calling queue, or many\
    \ other things. The fundamental element of a route is an action. We support many\
    \ different actions such as forward, menu, and voicemail. See below for the full\
    \ details. In general, actions are processed one at a time in the order you specify,\
    \ until the call is answered or disconnected. Answering or disconnecting stops\
    \ any additional actions from being performed. Note that several actions such\
    \ as voicemail, menu, and fax completely take over processing the call and do\
    \ not result in processing any subsequent actions. Actions are grouped into rule\
    \ sets. Rule sets can be filtered based on the time of day or the caller's phone\
    \ number. When processing an incoming call, Phone.com's routing engine will evaluate\
    \ each rule set in the order that was specified when the route was created or\
    \ updated. The first matching rule set will be used, and all other rule sets will\
    \ be ignored. Each route must have at least one unfiltered rule set. Note that\
    \ if your route contains multiple unfiltered rule sets, only the first one will\
    \ be used."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-routes"
- name: "schedules"
  description: "Schedules are used at various places in your Phone.com account. A\
    \ schedule can specify a recurring weekly pattern such as \"Monday through Friday\"\
    \ or a single time period such as \"Thanksgiving Weekend 2015\"."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-schedules"
- name: "sms"
  description: "The Phone.com /sms service lets you send and show history of SMS messages.\
    \ Phone.com’s standard phone service lets you send and receive SMS messages using\
    \ your Phone.com numbers. The Phone.com API extends this functionality, letting\
    \ you send SMS messages from your application (through your phone number and our\
    \ API server) to your users. You can also use the API to retrieve the history\
    \ of sms sent from / delivered to your account."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-sms"
- name: "subaccounts"
  description: "This page gives an overview of how to interact with your subaccounts.\
    \ Subaccounts are the same as master accounts in terms of the functionality Phone.com\
    \ supports. The main difference is that subaccounts are grouped with their master\
    \ account for invoicing purposes."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/subaccounts"
- name: "trunks"
  description: "SIP Trunks are used to connect your Phone.com account to your PBX."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/account-trunks"
- name: "available-numbers"
  description: "This service lists phone numbers that are available for purchase through\
    \ Phone.com."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/available-phone-numbers"
- name: "number-regions"
  description: "This service shows the quantities of phone numbers available for purchase,\
    \ using region-based grouping."
  externalDocs:
    description: "Find out more"
    url: "https://apidocs.phone.com/docs/available-phone-number-regions"
schemes:
- "https"
paths:
  /accounts:
    get:
      tags:
      - "accounts"
      summary: "Get a list of accounts visible to the authenticated user or client"
      description: "This service lists the accounts accessible to the authenticated\
        \ client. In most cases, there will only be one such account. See Accounts\
        \ for more info on the properties."
      operationId: "list-accounts"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListAccountsFull"
        401:
          description: "Unauthorized access"
      security:
      - apiKey: []
      x-swagger-router-controller: "Accounts"
  /accounts/{account_id}:
    get:
      tags:
      - "accounts"
      summary: "Retrieve details of an individual account"
      description: "This service shows the details of an individual account. See Accounts\
        \ for more info on the properties."
      operationId: "get-account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AccountFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Accounts"
  /accounts/{account_id}/applications:
    get:
      tags:
      - "applications"
      summary: "Get a list of applications you have defined"
      description: "Get a list of an account available applications"
      operationId: "list-account-applications"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListApplicationsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Applications"
  /accounts/{account_id}/applications/{application_id}:
    get:
      tags:
      - "applications"
      summary: "Show details of an individual application"
      description: ""
      operationId: "get-account-application"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "application_id"
        in: "path"
        description: "Application ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Applications"
  /accounts/{account_id}/call-logs:
    get:
      tags:
      - "call-logs"
      summary: "Get a list of call details associated with your account"
      description: "Fetch a list of call logs associated with your account."
      operationId: "list-account-call-logs"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[start_time]"
        in: "query"
        description: "Call start time filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[created_at]"
        in: "query"
        description: "Call log creation time filter"
        required: false
        type: "string"
        pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
      - name: "filters[direction]"
        in: "query"
        description: "Call direction filter: in or out"
        required: false
        type: "string"
        pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
      - name: "filters[called_number]"
        in: "query"
        description: "Called number"
        required: false
        type: "string"
        pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
      - name: "filters[type]"
        in: "query"
        description: "Call type, such as 'call', 'fax', 'audiogram'"
        required: false
        type: "string"
        pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
      - name: "filters[extension]"
        in: "query"
        description: "Extension filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[start_time]"
        in: "query"
        description: "Sorting by call start time: asc or desc"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[created_at]"
        in: "query"
        description: "Sorting by call log creation time: asc or desc"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListCallLogsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Calllogs"
  /accounts/{account_id}/call-logs/{callLog_id}:
    get:
      tags:
      - "call-logs"
      summary: "Show details of an individual Call Log entry"
      description: "This service shows the details of an individual Call Logs entry."
      operationId: "get-account-call-log"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "callLog_id"
        in: "path"
        description: "Call Log ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/CallLogFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Calllogs"
  /accounts/{account_id}/devices:
    get:
      tags:
      - "devices"
      summary: "Get a list of VoIP devices associated with your account"
      description: ""
      operationId: "list-account-devices"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListDevicesFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Devices"
    post:
      tags:
      - "devices"
      summary: "Register a generic VoIP device"
      description: ""
      operationId: "create-account-device"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Device data"
        required: false
        schema:
          $ref: "#/definitions/CreateDeviceParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/DeviceFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Devices"
  /accounts/{account_id}/devices/{device_id}:
    get:
      tags:
      - "devices"
      summary: "Show details of an individual VoIP device"
      description: ""
      operationId: "get-account-device"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "device_id"
        in: "path"
        description: "Device ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeviceFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Devices"
    put:
      tags:
      - "devices"
      summary: "Update the settings for an individual VoIP device"
      description: ""
      operationId: "replace-account-device"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "device_id"
        in: "path"
        description: "Device ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Device data"
        required: false
        schema:
          $ref: "#/definitions/CreateDeviceParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeviceFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Devices"
  /accounts/{account_id}/express-service-codes:
    get:
      tags:
      - "express-service-codes"
      summary: "Get the Express Service Code associated with your account in list\
        \ format"
      description: "See Express Service Codes for more detail."
      operationId: "list-account-express-srv-codes"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListExpressServiceCodesFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Expressservicecodes"
  /accounts/{account_id}/express-service-codes/{code_id}:
    get:
      tags:
      - "express-service-codes"
      summary: "Show details of an account Express Service Code"
      description: "This service shows the details of an Account Express Service Code."
      operationId: "get-account-express-srv-code"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "code_id"
        in: "path"
        description: "Device ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ExpressServiceCodeFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Expressservicecodes"
  /accounts/{account_id}/extensions:
    get:
      tags:
      - "extensions"
      summary: "Get a list of extensions visible to the authenticated user or client"
      description: "This service lists the visible extensions on a given account."
      operationId: "list-account-extensions"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[extension]"
        in: "query"
        description: "Extension filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[extension]"
        in: "query"
        description: "Extension sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListExtensionsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Extensions"
    post:
      tags:
      - "extensions"
      summary: "Create an individual extension"
      description: "This service shows how to create a virtual extension."
      operationId: "create-account-extension"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Account Extensions Data"
        required: false
        schema:
          $ref: "#/definitions/CreateExtensionParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/ExtensionFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Extensions"
  /accounts/{account_id}/extensions/{extension_id}:
    get:
      tags:
      - "extensions"
      summary: "Show details of an individual extension"
      description: "This service shows the details of an individual Extension."
      operationId: "get-account-extension"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ExtensionFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Extensions"
    put:
      tags:
      - "extensions"
      summary: "Replace an individual extension"
      description: "This service shows how to update an individual extension."
      operationId: "replace-account-extension"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Account Extensions Data"
        required: false
        schema:
          $ref: "#/definitions/ReplaceExtensionParams"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ExtensionFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Extensions"
  /accounts/{account_id}/extensions/{extension_id}/caller-ids:
    get:
      tags:
      - "caller-ids"
      summary: "Show the Caller ID options a given extension can use"
      description: "Get Caller ID"
      operationId: "get-caller-ids"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "filters[number]"
        in: "query"
        description: "Number filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[number]"
        in: "query"
        description: "Number sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListCallerIdsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Callerids"
  /accounts/{account_id}/extensions/{extension_id}/contact-groups:
    get:
      tags:
      - "groups"
      summary: "Show a list of contact groups belonging to an extension"
      description: "See Account Contact Groups for details on the properties."
      operationId: "list-account-extension-contact-groups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListGroupsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Groups"
    post:
      tags:
      - "groups"
      summary: ""
      description: "See Account Contact Groups for more info on the properties."
      operationId: "create-account-extension-contact-group"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Group name"
        required: true
        schema:
          $ref: "#/definitions/CreateGroupParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/GroupFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Groups"
  /accounts/{account_id}/extensions/{extension_id}/contact-groups/{group_id}:
    get:
      tags:
      - "groups"
      summary: ""
      description: "See Account Contact Groups for more info on the properties."
      operationId: "get-account-extension-contact-group"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "group_id"
        in: "path"
        description: "Group ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/GroupFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Groups"
    put:
      tags:
      - "groups"
      summary: ""
      description: "See Account Contact Groups for more info on the properties."
      operationId: "replace-account-extension-contact-group"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "group_id"
        in: "path"
        description: "Group ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/GroupFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Groups"
    delete:
      tags:
      - "groups"
      summary: "Delete an addressbook group"
      description: ""
      operationId: "delete-account-extension-contact-group"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "group_id"
        in: "path"
        description: "Group ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteGroup"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Groups"
  /accounts/{account_id}/extensions/{extension_id}/contacts:
    get:
      tags:
      - "contacts"
      summary: "Show a list of address book contacts"
      description: "See Account Contacts for more info on the fields in each item."
      operationId: "list-account-extension-contacts"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[group_id]"
        in: "query"
        description: "Group filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[updated_at]"
        in: "query"
        description: "Updated At filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[updated_at]"
        in: "query"
        description: "Updated At sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListContactsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Contacts"
    post:
      tags:
      - "contacts"
      summary: "Add a new address book contact for an extension"
      description: "For more on the input fields, see Account Contacts."
      operationId: "create-account-extension-contact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Contact data"
        required: false
        schema:
          $ref: "#/definitions/CreateContactParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/ContactFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Contacts"
    put:
      tags:
      - "contacts"
      summary: ""
      description: "For more on the input fields, see Account Contacts."
      operationId: "replace-account-extension-contact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Contact data"
        required: false
        schema:
          $ref: "#/definitions/CreateContactParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ContactFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Contacts"
  /accounts/{account_id}/extensions/{extension_id}/contacts/{contact_id}:
    get:
      tags:
      - "contacts"
      summary: "Retrieve the details of an address book contact"
      description: "For more info on the fields shown, see Account Contacts."
      operationId: "get-account-extension-contact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "contact_id"
        in: "path"
        description: "Contact ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ContactFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Contacts"
    delete:
      tags:
      - "contacts"
      summary: ""
      description: ""
      operationId: "delete-account-extension-contact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "extension_id"
        in: "path"
        description: "Extension ID"
        required: true
        type: "integer"
      - name: "contact_id"
        in: "path"
        description: "Contact ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteContact"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Contacts"
  /accounts/{account_id}/media:
    get:
      tags:
      - "media"
      summary: "Get a list of media recordings for an account"
      description: "See Account Menus for more info on the properties."
      operationId: "list-account-media"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListMediaFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Media"
  /accounts/{account_id}/media/{recording_id}:
    get:
      tags:
      - "media"
      summary: "Show details of an individual media recording (Greeting or Hold Music)"
      description: "Get individual media recording"
      operationId: "get-account-media"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "recording_id"
        in: "path"
        description: "Recording ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MediaFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Media"
  /accounts/{account_id}/menus:
    get:
      tags:
      - "menus"
      summary: "Get a list of menus for an account"
      description: "See Account Menus for more info on the properties."
      operationId: "list-account-menus"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListMenusFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Menus"
    post:
      tags:
      - "menus"
      summary: "Create an individual menu"
      description: "This service creates an individual menu. See Account Menus for\
        \ more info on the properties."
      operationId: "create-account-menu"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Menu data"
        required: false
        schema:
          $ref: "#/definitions/CreateMenuParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/MenuFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Menus"
  /accounts/{account_id}/menus/{menu_id}:
    get:
      tags:
      - "menus"
      summary: "Show details of an individual menu"
      description: "This service shows the details of an individual Menu."
      operationId: "get-account-menu"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "menu_id"
        in: "path"
        description: "Menu ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MenuFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Menus"
    put:
      tags:
      - "menus"
      summary: "Replace an individual menu"
      description: "This service replaces the details of an individual Menu."
      operationId: "replace-account-menu"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "menu_id"
        in: "path"
        description: "Menu ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Menu data"
        required: false
        schema:
          $ref: "#/definitions/ReplaceMenuParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MenuFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Menus"
    delete:
      tags:
      - "menus"
      summary: "Delete an individual menu"
      description: "This service shows the details of an individual menu."
      operationId: "delete-account-menu"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "menu_id"
        in: "path"
        description: "Menu ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteMenu"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        409:
          description: "Conflict"
      security:
      - apiKey: []
      x-swagger-router-controller: "Menus"
  /accounts/{account_id}/phone-numbers:
    get:
      tags:
      - "phone-numbers"
      summary: "Get a list of phone numbers registered to an account"
      description: "See Intro to Account Phone Numbers for more info on the properties."
      operationId: "list-account-phone-numbers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[phone_number]"
        in: "query"
        description: "Phone number filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[phone_number]"
        in: "query"
        description: "Phone number sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListPhoneNumbersFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Phonenumbers"
    post:
      tags:
      - "phone-numbers"
      summary: "Add a phone number to an account"
      description: "See Intro to Account Phone Numbers for more info on the properties\
        \ to use."
      operationId: "create-account-phone-number"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Phone Number data"
        required: false
        schema:
          $ref: "#/definitions/CreatePhoneNumberParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/PhoneNumberFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Phonenumbers"
  /accounts/{account_id}/phone-numbers/{number_id}:
    get:
      tags:
      - "phone-numbers"
      summary: "Show details of an individual phone number"
      description: "See Intro to Account Phone Numbers for more info on the properties."
      operationId: "get-account-phone-number"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "number_id"
        in: "path"
        description: "Number ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PhoneNumberFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Phonenumbers"
    put:
      tags:
      - "phone-numbers"
      summary: "Update the settings for an existing phone number on your account"
      description: "See Intro to Account Phone Numbers for more info on the properties."
      operationId: "replace-account-phone-number"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "number_id"
        in: "path"
        description: "Number ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Phone Number data"
        required: false
        schema:
          $ref: "#/definitions/ReplacePhoneNumberParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PhoneNumberFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Phonenumbers"
  /accounts/{account_id}/queues:
    get:
      tags:
      - "queues"
      summary: "Get a list of queues for an account"
      description: "The List Queues service lists all the queues belong to the account.\
        \ See Account Queues for more info on the properties."
      operationId: "list-account-queues"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListQueuesFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Queues"
    post:
      tags:
      - "queues"
      summary: "Create a queue"
      description: "For more on the input fields, see Account Queues."
      operationId: "create-account-queue"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Queue data"
        required: false
        schema:
          $ref: "#/definitions/CreateQueueParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/QueueFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Queues"
  /accounts/{account_id}/queues/{queue_id}:
    get:
      tags:
      - "queues"
      summary: "Show details of an individual queue"
      description: "This service shows the details of an individual queue. For more\
        \ on the input fields, see Account Queues."
      operationId: "get-account-queue"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "queue_id"
        in: "path"
        description: "Queue ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/QueueFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Queues"
    put:
      tags:
      - "queues"
      summary: "Replace a queue"
      description: "The Replace Queue service replaces the parameters of a queue.\
        \ For more on the input fields, see Account Queues."
      operationId: "replace-account-queue"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "queue_id"
        in: "path"
        description: "Queue ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Queue data"
        required: false
        schema:
          $ref: "#/definitions/CreateQueueParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/QueueFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Queues"
    delete:
      tags:
      - "queues"
      summary: "Delete a queue"
      description: "This service a queue from the account. For more information on\
        \ queue properties, see Account Queues."
      operationId: "delete-account-queue"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "queue_id"
        in: "path"
        description: "Queue ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteQueue"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        409:
          description: "Conflict"
      security:
      - apiKey: []
      x-swagger-router-controller: "Queues"
  /accounts/{account_id}/routes:
    get:
      tags:
      - "routes"
      summary: "Get a list of routes for an account"
      description: "See Intro to Routes for more info on the properties."
      operationId: "list-account-routes"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListRoutesFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Routes"
    post:
      tags:
      - "routes"
      summary: "Add a new address book contact for an extension"
      description: "For more on the input fields, see Intro to Routes."
      operationId: "create-route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Route data"
        required: false
        schema:
          $ref: "#/definitions/CreateRouteParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/RouteFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Routes"
  /accounts/{account_id}/routes/{route_id}:
    get:
      tags:
      - "routes"
      summary: "Show details of an individual route"
      description: "This service shows the details of an individual route."
      operationId: "get-account-route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "route_id"
        in: "path"
        description: "Route ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RouteFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Routes"
    put:
      tags:
      - "routes"
      summary: ""
      description: "For more on the input fields, see Intro to Routes."
      operationId: "replace-account-route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "route_id"
        in: "path"
        description: "Route ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Route data"
        required: false
        schema:
          $ref: "#/definitions/CreateRouteParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RouteFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Routes"
    delete:
      tags:
      - "routes"
      summary: ""
      description: ""
      operationId: "delete-account-route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "route_id"
        in: "path"
        description: "Route ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteRoute"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        409:
          description: "Conflict"
      security:
      - apiKey: []
      x-swagger-router-controller: "Routes"
  /accounts/{account_id}/schedules:
    get:
      tags:
      - "schedules"
      summary: "Get a list of schedules for an account"
      description: "See Intro to Schedules for more info on the properties."
      operationId: "list-account-schedules"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListSchedulesFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Schedules"
  /accounts/{account_id}/schedules/{schedule_id}:
    get:
      tags:
      - "schedules"
      summary: "Show details of an individual schedule"
      description: "This service shows the details of an individual schedule."
      operationId: "get-account-schedule"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "schedule_id"
        in: "path"
        description: "Schedule ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ScheduleFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Schedules"
  /accounts/{account_id}/sms:
    get:
      tags:
      - "sms"
      summary: "Get a list of SMS messages for an account"
      description: "See Intro to SMS for more info on the properties."
      operationId: "list-account-sms"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[direction]"
        in: "query"
        description: "Direction filter"
        required: false
        type: "string"
        pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
      - name: "filters[from]"
        in: "query"
        description: "Caller ID filter"
        required: false
        type: "string"
        pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[created_at]"
        in: "query"
        description: "Sort by created time of message"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListSmsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Sms"
    post:
      tags:
      - "sms"
      summary: "Send a SMS to one or a group of recipients"
      description: "For more on the input fields, see Intro to SMS."
      operationId: "create-account-sms"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "SMS data"
        required: true
        schema:
          $ref: "#/definitions/CreateSmsParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/SmsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
        429:
          description: "Rate Limit Reached"
      security:
      - apiKey: []
      x-swagger-router-controller: "Sms"
  /accounts/{account_id}/sms/{sms_id}:
    get:
      tags:
      - "sms"
      summary: "Show details of an individual SMS"
      description: "This service shows the details of an individual sms. See Intro\
        \ to SMS for more info on the properties."
      operationId: "get-account-sms"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "sms_id"
        in: "path"
        description: "SMS ID"
        required: true
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/SmsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Sms"
  /accounts/{account_id}/subaccounts:
    get:
      tags:
      - "subaccounts"
      summary: "Get a list of subaccounts for the authenticated user or client"
      description: "This service lists the Subaccount of the authenticated client.\
        \ In most cases, there will not be any."
      operationId: "list-account-subaccounts"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListAccountsFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Subaccounts"
    post:
      tags:
      - "subaccounts"
      summary: "Add a subaccount for the authenticated user or client"
      description: "This service shows the details of an individual Subaccount."
      operationId: "create-account-subaccount"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "SMS data"
        required: true
        schema:
          $ref: "#/definitions/CreateSubaccountParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/AccountFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Subaccounts"
  /accounts/{account_id}/trunks:
    get:
      tags:
      - "trunks"
      summary: "Get a list of trunks for an account"
      description: "See Account Trunks for more info on the properties."
      operationId: "list-account-trunks"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "filters[id]"
        in: "query"
        description: "ID filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[name]"
        in: "query"
        description: "Name filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[id]"
        in: "query"
        description: "ID sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[name]"
        in: "query"
        description: "Name sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "limit"
        in: "query"
        description: "Max results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Results to skip"
        required: false
        type: "integer"
      - name: "fields"
        in: "query"
        description: "Field set"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListTrunksFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
      security:
      - apiKey: []
      x-swagger-router-controller: "Trunks"
    post:
      tags:
      - "trunks"
      summary: "Add a trunk record with SIP information"
      description: "For more on the input fields, see Account Trunks."
      operationId: "create-account-trunk"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Trunk data"
        required: true
        schema:
          $ref: "#/definitions/CreateTrunkParams"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/TrunkFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Trunks"
  /accounts/{account_id}/trunks/{trunk_id}:
    get:
      tags:
      - "trunks"
      summary: "Show details of an individual trunk"
      description: "This service shows the details of an individual Trunk."
      operationId: "get-account-trunk"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "trunk_id"
        in: "path"
        description: "Trunk ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TrunkFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - apiKey: []
      x-swagger-router-controller: "Trunks"
    put:
      tags:
      - "trunks"
      summary: "Replace parameters in a trunk"
      description: "For more on the input fields, see Account Trunks."
      operationId: "replace-account-trunk"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "trunk_id"
        in: "path"
        description: "Trunk ID"
        required: true
        type: "integer"
      - in: "body"
        name: "data"
        description: "Trunk data"
        required: true
        schema:
          $ref: "#/definitions/CreateTrunkParams"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TrunkFull"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        422:
          description: "Invalid Data"
      security:
      - apiKey: []
      x-swagger-router-controller: "Trunks"
    delete:
      tags:
      - "trunks"
      summary: "Delete a trunk from account"
      description: "This service deletes a trunk from the account. For more on the\
        \ properties of trunks, see Account Trunks."
      operationId: "delete-account-trunk"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account ID"
        required: true
        type: "integer"
      - name: "trunk_id"
        in: "path"
        description: "Trunk ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DeleteTrunk"
        401:
          description: "Unauthorized access"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
        409:
          description: "Conflict"
      security:
      - apiKey: []
      x-swagger-router-controller: "Trunks"
  /phone-numbers/available:
    get:
      tags:
      - "available-numbers"
      summary: ""
      description: ""
      operationId: "list-available-phone-numbers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filters[phone_number]"
        in: "query"
        description: "Phone number filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[country_code]"
        in: "query"
        description: "Country Code filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[npa]"
        in: "query"
        description: "Area Code filter (North America only)"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[nxx]"
        in: "query"
        description: "2nd set of 3 digits filter (North America only)"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[xxxx]"
        in: "query"
        description: "NANP XXXX filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[city]"
        in: "query"
        description: "City filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[province]"
        in: "query"
        description: "State or Province (postal code) filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[country]"
        in: "query"
        description: "Country (postal code) filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[price]"
        in: "query"
        description: "Price filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[category]"
        in: "query"
        description: "Category filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "filters[is_toll_free]"
        in: "query"
        description: "Toll-free status filter"
        required: false
        type: "array"
        items:
          type: "string"
          pattern: "^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*"
        collectionFormat: "multi"
      - name: "sort[internal]"
        in: "query"
        description: "Internal (quasi-random) sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
      - name: "sort[price]"
        in: "query"
        description: "Price sorting"
        required: false
        type: "string"
        pattern: "asc|desc"
[...]
